:root {
    --origin_blue: rgb(24,73,214);
    --origin_white: rgb(231, 219, 219);
    --origin_black: rgb(22, 21, 21);
    --heading_font: 'Outfit';
    --small_font: 'Montserrat';
    --page_info_radius: 16px;
    --border_color: rgb(173, 168, 168);
    --circle_radius: 50%;
    --width_origin1 : 0;
    --width_origin2: 0;
    --width_origin3:0;
}

html,body
{
    height: 100%;
}
body
{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar {
    width: 0;
}

/*PAGE HEADER */

header
{
    padding: 0 10px;
    text-align: center;
}

header h1
{
    font-family: 'Outfit';

}
header h5{
    font-family: 'Montserrat';
    margin-top: -10px;
}




/*PAGE MAIN PAGE */
main
{
 
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

}
/*File SECTION*/

.file_section
{
    width: 100%;
   
}
.file_section .file_container
{
    background-color: white;
    border-radius: 20px;
    height: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.file_section .file_container .file_container_child1
{
    background-color: rgb(223, 210, 213);
    width: 100%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file_section .file_container .file_container_child1 img
{
    width: 50%;
    height: 50%;
}

.file_section .file_container .file_container_child2
{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.file_section .file_container .file_container_child2 .document_details
{
    padding-left: 10px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.file_section .file_container .file_container_child2 .document_details h3
{
      font-family: 'Outfit';
      font-weight: 500;
}
.file_section .file_container .file_container_child2 .document_details small
{
 font-family: 'Montserrat';
 font-size: 15px;
 margin-top: -13px;
}

.file_section .file_container .file_container_child2 .download_button
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    height: 50%;
    padding-left: 10px;
}
.file_section .file_container .file_container_child2 .download_button button{
    font-family: 'Outfit';
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: var(--origin_blue);
    color: white;
}
.download_button a
{
    color: white;
}



/*Number section */

.number_section
{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.number_section  h1
{
    font-family: 'Outfit';
    font-size: 25px;
}
.number_section h2{
    font-family: 'Outfit';
}
.number_section p
{
    font-family: 'Montserrat';
    font-size: 14px;
}
.faq_section
{
    
    padding-top: 20px;
    width: 100%;
   display: grid;
   grid-template-columns:  1fr;
   grid-template-rows: 150px 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}
.faq_section .faq-details
{
   grid-area: 1 / 1 / 2 / 2;
   padding-left: 10px;
   width: 98.1%;
}
.faq_section .faq-details h1
{
    font-family: 'Outfit';
   font-size: 35px;
}
.faq_section .faq-details h6{
    font-family: 'Montserrat';
    margin-top: -15px;
    color: gray;
    font-weight: 400;
}

.faq_section .question_container
{
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 10px;
}
.faq_section .question_container .question 
{
    margin-bottom: 20px;
}
.faq_section .question_container .question .label 
{
    display: flex;
    font-family: 'Montserrat';
    font-weight: 500;
    align-items: center;
    text-align: left;
    gap: 30px;
    position: relative;
}

.faq_section .question_container .question .accordion
{
    
    font-size: 12px;
    height: 0px;
    transition: all 0.5s ease ;
    overflow: hidden;
    overflow-y: scroll;
    text-align: left;
    font-family: 'Montserrat';
}
.faq_section .question_container .question .accordion::-webkit-scrollbar {
    display: none;
}

.faq_section .question_container .question .accordion.active {
    height: 60px;
}
.faq_section .question_container .question .border
{
    background-color: gray;
    height: 0.3px;
}

footer p
{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 10px;
}

@media (min-width: 750px) {
    .file_container
    {
        width: 500px;
    }
    .file_section
    {
         display: flex;
    align-items: center;
    justify-content: center;
    }
    .faq_section
    {
      display: flex;

    }
   
}
